// Цвет
$main_text-color: #2F3035;
$color-decor: #1C62CD;
$color-link: #C4C4C4;
$color-footer-link: #48494D;
$bg-gray: #F0F0F4;
$bg-border: #CDCDCD;
$bg-input: #656464;

/* font-weight */
  $bold: 700;
  $semibold: 600;
  $medium: 500;
  $regular: 400;
  $light: 300;

// Шрифты

  /* Barlow */
  %ff_Barlow-Bold {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
  }
  %ff_Barlow-SemiBold {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
  }
  %ff_Barlow-Regular {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
  }
  %ff_Barlow-Light {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
  }
  /* SFProDisplay */
  %ff_SFProDisplay-Bold{
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 700;
  }
  %ff_SFProDisplay-Semibold{
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 600;
  }
  %ff_SFProDisplay-Medium{
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 500;
  }
  %ff_SFProDisplay-Regular{
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 400;
  }
  /* Proximanova */
  %ff_Proximanova-Bold {
    font-family: 'proximanova_bold', sans-serif;
    font-weight: 600;
  }

