.catalog {
  margin-bottom: 100px;
  // .catalog__title
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 26px;
  }
  // .catalog__filter
  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 770px) {
      flex-direction: column;
      row-gap:  20px
    }
    // .catalog__filter-items
    &-items {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      // .catalog__filter-items button
      button {
        font-size: 14px;
        line-height: 1.214;
        opacity: 0.7;
        border-radius: 3px;
        background-color: $bg-gray;
        padding: 5px 22px;
        cursor: pointer;

        & + button {
          // margin-left: 8px;
        }
      }
    }
    // .catalog__filter-btns
    &-btns {
      display: flex;
      align-items: center;

      @media (max-width: 770px) {
        justify-content: space-between;
      }

      button {
        background: transparent;
        cursor: pointer;
        margin: 0;
        padding: 0;

        & + button {
          margin-left: 10px;
        }
      }
    }
    // .catalog__filter-btnbox
    &-btnbox {

      @media (max-width: 770px) {
        display: none;
      }
    }
    // .catalog__filter-btn
    &-btn {
      opacity: 0.3;

      &.active {
        opacity: 1;
      }
    }
    // .catalog__filter-select
    &-select {
      border: 1px solid #D7D9DF;
      margin-right: 35px;

      @media (max-width: 770px) {
        margin-right: 0;
        width: 100%;
        // z-index: 55;
      }

      // .catalog__filter-select ~ .jq-selectbox
      & ~ .jq-selectbox{
        // .catalog__filter-select ~ .jq-selectbox__dropdown
        &__dropdown {
          width: 100%;
          border-top: none;
        }
        // .catalog__filter-select ~ .jq-selectbox__select
        &__select {
          padding: 8px 37px 8px 12px;
          // .catalog__filter-select ~ .jq-selectbox__select .jq-selectbox__trigger
          & .jq-selectbox__trigger {
            right: 10px;
          }
        }
      }
    }
  }
  // .catalog__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;

    @media (max-width: 920px) {
      flex-direction: column;
    }
    // .catalog__inner-aside
    &-aside {
      min-width: 290px;
      margin-right: 10px;

      @media (max-width: 920px) {
        width: 100%;
      }
    }
    // .catalog__inner-list
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      max-width: 870px;
      justify-content: center;
      // .catalog__inner-list.hide
      &.hide {
        // display: none;
        // opacity: 0;
      }
      // .catalog__inner-list .products-item__wrapper
      .products-item__wrapper {
        

      }
    }
  }
  // .catalog .product-item__img
  .products-item__img {
    width: 250px;
    height: 190px;
    // .catalog .product-item__img img
    img {
      // max-width: 250px;
      // width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  // .catalog .tabs
  .tabs {

    // .tabs-wrapper
    &-wrapper {

      @media (max-width: 920px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #fff;
        z-index: 50;
        left: -350%;
        transition: 1s;
      }

      &.active {

        @media (max-width: 920px) {
          left: 0;
        }
      }

    }
    // .tabs-container
    &-container {
    }
    // .tabs-content
    &-content {
  
    }
    
  }
}
button {
  
  // .catalog__filter-btngrid
  &.catalog__filter-btngrid {
    width: 23px;
    height: 21px;
    // padding-top: 1px;
  }
  // .catalog__filter-btnlist
  &.catalog__filter-btnlist {
    width: 25px;
    height: 19px;
  }
}
.pagination {
  // display: flex;
  // width: 100%;
  // justify-content: center;
  max-width: 330px;
  margin: 0 auto;
  position: relative;
  left: 0;

  &.hide {
    position: absolute;
    left: -150%;
  }

  // .pagination-list
  &-list {
    display: flex;
    justify-content: space-between;
    // .pagination-list__item
    &__item {
      position: relative;
      @extend  %ff_Barlow-Regular;
      font-size: 18px;
      line-height: 1.22;
      color: $color-link;
      padding: 5px 13px;
      // .pagination-list__item .area__link
      .area__link {
        display: block;
        // .pagination-list__item .area__link::before
        &::before {
          @extend %ff_Barlow-SemiBold;
          // text-decoration: underline;
          color: $color-decor;
          // @extend  %ff_Barlow-Regular;
        }
        // .pagination-list__item .area__link::after
        &::after {
          top: 5px;
        }
      }
      // .pagination-list__item.active
      &.active {
        outline: $color-decor solid 2px;
        color: $color-decor;
        font-weight: 600;
        // .pagination-list__item.active .area__link::before
        .area__link::before {
          text-decoration: none;
        }
      }
    }
  }
}
.products-item__wrapper.products-item__wrapper--list {
  width: 100%;
  min-height: auto;

  & .products-item {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &__img {
      max-width: 120px;
      height: auto;
      max-height: 190px;
      padding-left: 20px;
    }
    &__hover-text {
      display: none;
    }
  }
}
.aside {
  // .aside-filter
  &-filter {

    // .aside-filter__tabs
    &__tabs {
      display: flex;
      column-gap: 40px;
      margin-bottom: 40px;
      // .aside-filter__tabs-content
      &-content {
      }

    }
    // .aside-filter__tab
    &__tab {
      position: relative;
      font-size: 16px;
      line-height: 1.187;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      color: $color-link;
      width: 50%;
    // .aside-filter__tab.tab--active
    &.tab--active span {
      padding-bottom: 7px;
      border-bottom: 2px solid $color-decor;
      display: inline-block;
      font-weight: 700;
      color: $main_text-color;
    }
    }
    // .aside-filter__content
    &__content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      row-gap: 15px;

      @media (max-width: 920px) {
        column-gap: 20px;
        padding-left: 25px;
      }

        // .aside-filter__content-radio
        // .aside-filter__content-checbox
        &-radio,
        &-checkbox {
          @media (max-width: 920px) {
            text-align: center;
          }
        }

      // @media (max-width: 920px) {
      //   width: 100%;
      // }
      // .aside-filter__content.aside-filter__content-radio
      &.aside-filter__content-radio {
        flex-wrap: nowrap;
      }
      // .aside-filter__content-box
      &-box {
        width: 50%;

        @media (max-width: 920px) {
          width: max-content;
        }
      }
      // .aside-filter__content-label
      &-label {
        font-size: 14px;
        line-height: 1.214;
        cursor: pointer;
      }
    }
    // .aside-filter__item
    &__item {
      // .aside-filter__item-drop
      margin-bottom: 40px;
      // .filter__item-drop.active
      &.active {
        // .filter__item-drop.active .aside-filter__item-title::before
        & .aside-filter__item-title::before {
          transform: translateY(-50%) scale(1, -1);
        }
      }
      &-drop {
        // .aside-filter__item-drop.active .aside-filter__item-title::before
        &.active .aside-filter__item-title::before {
          // transform: rotate(-180deg);
          transform: scale(1, -1) translateY(50%);
        }
        &.aside-filter__item-drop-range {
          
          & .aside-filter__content {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 40px;

            @media (max-width: 920px) {
              width: 100%;
            }
          }
        }
      }
      &-send {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
      }
      // .aside-filter__item-title
      &-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.187; 
        // margin-bottom: 20px;  
        padding-left: 26px;
        position: relative;     
        cursor: pointer;
        // .aside-filter__item-title::before
        &::before {
          content: "";
          position: absolute;
          background-image: url("@img/arrow-down.svg");
          width: 12px;
          height: 8px;
          left: 0;
          bottom: 0.187rem;
          transition: 0.8s;
          top: 50%;
          transform: translateY(-50%);
          // transition: 0.3s;
          }
        // .aside-filter__item-title.active
        &.active::before {

        }
        // .aside-filter__item-title.filter__item-listtitle
        &.filter__item-listtitle{
          padding-left: 0;
          // .aside-filter__item-title.filter__item-listtitle::before
          &::before {
            display: none;
          }
        }
      }
      // .aside-filter__item.btn-checked
      &.btn-checked {
        // .aside-filter__item.btn-checked .aside-filter__content
        & .aside-filter__content {
          // column-gap: 10px;
          gap: 10px;
        }
        // .aside-filter__item.btn-checked .aside-filter__content-box
        & .aside-filter__content-box {
          width: auto;
          padding: 6px 12px;
          color: $color-link;
          background-color: $bg-gray;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.16;
          letter-spacing: 0.07em;
          transition: 0.3s;
          // .aside-filter__item.btn-checked .aside-filter__content-box.checked
          &.checked {
            background-color: $color-decor;
            color: #fff;
          }
        }
        // .aside-filter__item.btn-checked .jq-checkbox
        & .jq-checkbox {
          display: none;
        }
      }
      &.aside-filter__item-list {
        max-width: 268px;

        @media (max-width: 920px) {
          max-width: 100%;
        }
      }

    }
    // .aside-filter__form
    &__form {
      // .aside-filter__list
    }
    &__list {

    }

  }
}

.aside-filter {
  background-color: #fff;
  @media (max-width: 920px) {
    // position: absolute;
    // z-index: 50;
  }

  // .aside-filter__tab
  &__tab {

  }
  // .aside-filter__tab
  &__btn {
    padding: 16px 0;
    color: #fff;
    background-color: $color-decor;
    width: 100%;
    display: none;
    // .aside-filter__btn
    @media (max-width: 920px) {
      display: block;
      margin-bottom: 30px;
    }
  }
}
.filter {
  // .filter-style
  &-style {
  }
  // .filter__item
  &__item{
    // .filter__item-drop
    &-drop {
    }
    // .filter__item-list
    &-list {
      display: flex;
      justify-content: space-between;
      padding-bottom: 14px;
      border-bottom: 2px solid $color-link;
      align-items: flex-end;
      margin-bottom: 26px;
    }
  }
  // .filter-_more
  &-more {
    flex-basis: 100%;
    // .filter-more__btn
    &__btn {
      font-size: 14px;
      line-height: 1.214;
      color: $color-decor;
      border-bottom: 1px solid $color-decor;
      background-color: transparent;
      padding: 0;
    }
  }
  // .filter__search
  &-search {
    flex-basis: 100%;
    padding: 8px 20px;
    border: 1px solid #E0E0E0;
    // .filter__search::placeholder
    &::placeholder {
      @extend %ff_SFProDisplay-Regular;
      font-size: 12px;
      line-height: 1.16;
      color: #BDBEC2;
    }
  }
  // .filter-btn
  &-btn {
    // .filter-btn__send
    &__send {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      width: 100%;
      max-width: 252px;
      padding: 16px 0;
      cursor: pointer;
      color: #fff;
      background-color: $color-decor;
      transition: 0.3s;

      &:disabled {
        color: #BDBEC2;
        background-color: $bg-gray;
      }
    }
    // .filter-btn__reset
    &__reset {
      font-size: 13px;
      line-height: 1.23;
      color: $color-link;
      padding-bottom: 2px;
      border-bottom: 1px solid $color-link;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
    }
  }
  // filter__extra
  &__extra {
    // filter__extra.active
    &.active {

      .filter__extra-title::after {
        transform: translateY(-50%) scale(1, -1);
      }
    }
    // filter__extra-title
    &-title {
      font-size: 13px;
      line-height: 1.23;
      position: relative;
      padding-right: 29px;
      cursor: pointer;
      // filter__extra::before
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // right: 12px;
        right: 0;
        // border: none;   
  
        background-image: url("@img/arrow-down.svg");
        width: 12px;
        height: 8px;
        // left: 0;
        // bottom: 0.187rem;
        transition: 0.8s;
      }
    }
    // filter__extra-content
    &-content {
      display: none;
    }
  }
}
.jq {
  // .jq-checkbox
  &-checkbox{
    background: transparent;
    width: 14px;
    height: 14px;
    border: 1px solid $color-link;
    border-radius: 1px;
    box-shadow: none;
    margin-right: 8px;
    vertical-align:  -2px;
    // .jq-checkbox.checked
    &.checked {
      background-color: $color-decor;
      border: none;
      // 
      & .filter-style {
        position: relative;
        
      }
      // .jq-checkbox .jq-checkbox__div
      & .jq-checkbox__div {
        background-image: url('@img/checked-item.svg');
        width: 8px;
        height: 6px;
        margin: 0;
        border-bottom: none;
        border-left: none;
        transform: none;
  
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  // .jq-radio
  &-radio {
    margin: 0 8px 0 0;
    background: transparent;
    box-shadow: none;
    // .jq-radio.checked
    &.checked {
      background: $color-decor;
      width: 16px;
      height: 16px;
      margin: 0 8px 0 0;
      border: none;
      // background: linear-gradient(#FFF, #E6E6E6);
      box-shadow: none;
    }
    // .jq-radio .jq-radio__div
    & .jq-radio__div {
      display: none;
    }
  }
  // jq-selectbox
  &-selectbox{
    // jq-selectbox__select
    // jq-selectbox li
    &__select,
    & li {
      @extend %ff_Barlow-Regular;
      font-size: 14px;
      line-height: 1.214;
      color: $color-footer-link;
    }
    // jq-selectbox__select
    &__select {

    }
    &.focused .jq-selectbox__select {
      border: transparent;
  }
    // jq-selectbox__select
    &__select {
      color: #48494D;
      border: none;
      background: transparent;
      text-shadow: none;
      border-radius: 0;
      box-shadow: none;
      height: auto;
      padding: 0 22px 0 10px;
      border-bottom-color: none;
      transition: 0.2s;
      // jq-selectbox__select:hover
      &:hover {
        background: transparent;
      }
      // jq-selectbox__select:active
      &:active {
        background: transparent;
        box-shadow: none;

      }
      &.active .jq-selectbox__trigger-arrow {
        transform: scale(1, -1) translateY(50%);
      }
    }
    // jq-selectbox ul
    & ul {
      padding: 14px 0 0 0;
      // jq-selectbox li
      & li{
        transition: 0.3s;
        padding: 4px 15px 6px;
        // jq-selectbox li.selected
        &.selected,
        &:hover {
          color: $color-footer-link;
          background: rgba(107, 126, 172, 0.05);
        }
      }
    }
    // jq-selectbox__trigger
    &__trigger{
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      height: 100%;
      border-left: none;
      margin: 0 !important;
      // jq-selectbox__trigger-arrow
      &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // right: 12px;
        right: 0;
        border: none;   

        background-image: url("@img/arrow-down.svg");
        width: 12px;
        height: 8px;
        // left: 0;
        // bottom: 0.187rem;
        transition: 0.8s;
      }
    }
    // jq-selectbox__dropdown
    &__dropdown {
      width: 125%;
      margin-top: 1px;
      border: 1px solid #E0E0E0;
      border-radius: 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
.irs {

  &--flat .irs{
    // .irs--flat .irs-from
    // .irs--flat .irs-to
    &-from,
    &-to,
    &-single {
      background-color: $color-decor;
      // .irs--flat .irs-from::before
      // .irs--flat .irs-to::before
      &::before {
        border-top-color: $color-decor;
        bottom: -5px;
      }
    }
    // .irs--flat irs-bar
    &-bar {
      height: 3px;
      background-color: $color-decor;
      top: 24px;
    }
    // .irs--flat irs-min
    // .irs--flat irs-max
    &-min,
    &-max {
      @extend %ff_Barlow-Regular;
      color: $main_text-color;
      top: 60px;
      background-color: transparent;
      font-size: 14px;
      line-height: 1.214;
      text-decoration: underline;
      visibility: visible !important;
      padding-left: 26px;
    }
    // .irs--flat irs-min::before
    // .irs--flat irs-max::before
    &-min::before,
    &-max::before {
      @extend %ff_SFProDisplay-Regular;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY( -50%);
      color: $color-link;
    }
    // .irs--flat irs-min::before
    &-min::before {
      content: "от";
    }
    // .irs--flat irs-max::before
    &-max::before {
      content: "до";
    }
    // .irs--flat irs-line
    &-line {
      height: 1px;
      background-color: #E0E0E0;
      border-radius: 0px;
    }
    // .irs--flat irs-handle
    &-handle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-decor;
      cursor: pointer;
      // .irs--flat irs-handle  > i:first-child
      & > i:first-child {
        // background-color: &color-decor !important;
        width: 0;
      }
    }
  }
}