.categories {
  // .categories__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  // .categories__item
  &__item {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 370px;
    height: 130px;
    display: flex;
    padding: 20px;
    padding-bottom: 15px;
    transition: all 0.3s;
    // .categories__item:hover
    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border: 1px solid transparent;
      // scale: 1.01;
      // .categories__item-img {
      //   scale: 1.05;
      // }
    }
    // .categories__item:hover .categories__item-title
    & .categories__item-title{
      color: $color-decor;
    }
    // .categories__item-info
    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between
    }
    // .categories__item-title
    &-title {
      @extend %ff_Barlow-Bold;
      font-size: 23px;
      line-height: 28px;
      transition: 0.5s;
    }
    // .categories__item-text
    &-text {
      font-size: 14px;
      line-height: 0.642;
      color: $color-link;
      position: relative;
      padding-right: 10px;
      width: fit-content;

      &::after {
        content: '';
        position: absolute;
        // top: 50%;
        right: 0;
        bottom: 0;
        // transform: translateY(-50%);
        width: 6px;
        height: 9px;
        background-image: url('@img/link-arrow.svg');
        background-repeat: no-repeat;
      }
    }
    // 
    &-img {
      margin: 0 auto;
      max-width: 100%;
      transition: 0.5s;
    }
  }
}