.search {

  // .search__inner
  &__inner {
  }
  // .search__tabs
  &__tabs {
    margin-bottom: 25px;
    display: flex;
    position: relative;

    @media (max-width: 920px) {
      overflow-x: scroll;
    }
    // .search__tabs-item
    &-item {
      padding: 11px 0px 12px;
      // margin: 0 26px;
      @include adaptiv-mp(26, 5, padding-left);
      @include adaptiv-mp(26, 5, padding-right);
      border-radius: 5px;
      position: relative;
      text-align: center;
      min-width: max-content;
      
      @media (max-width: 920px) {
        border-radius: 0;
        padding: 11px 0 12px;
        @include adaptiv-mp(26, 5, margin-left);
        @include adaptiv-mp(26, 5, margin-right);
      }
      // .search__tabs-item::before,
      // .search__tabs-item::after
      &::before, &::after {
        content: attr(aria-label);
        text-decoration: inherit;
      }
      // .search__tabs-item::before
      &::before {
        font-weight: 700;
        visibility: hidden;
      }
      // .search__tabs-item::after
      &::after {
        position: absolute;
        left: 0;
        top: 11px;
        right: 0;
        bottom: 0;
      }
      // .search__tabs-item:focus-visible::before,
      &:focus-visible::before {
        visibility: visible;
      }
      // .search__tabs-item:focus-visible::after
      &:focus-visible::after {
        display: none;
      }
      &.tab--active {
        @media (max-width: 920px) {
          border-bottom: 2px solid $color-decor;
        }
      }
    }
  }
  // .search__content
  &__content {
    
    // .search__content-form
    &-form {
      display: flex;
      position: relative;
      margin-bottom: 10px;
    }
    // .search__content-input
    &-input {
      font-size: 16px;
      line-height: 1.187;
      background-color: $bg-gray;
      padding: 15px 20px;
      border: 3px;
      width: 100%;
      border-radius: 3px;

      @media (max-width: 640px) {
        padding-right: 46px;
      }
      // .search__content-input::placeholder
      &::placeholder {
        color: $bg-input;
      }
    }
    // .search__content-btn
    &-btn {
      padding: 17px 40px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.214;      
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #fff;
      background-color: $color-decor;
      border-radius: 3px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      @media (max-width: 640px) {
        font-size: 0;
        line-height: 0;   
        color: transparent;
        padding: 0;
        width: 23px;
        height: 23px;
        top: 50%;
        transform: translateY(-50%);
        right: 16px; 
        background-color: transparent;
        background-image: url('@img/search.svg');      
      }
    }
  }
}
.search__tabs-item.tab--active {
  background-color: $bg-gray;
  font-weight: 700;
  @media (max-width: 920px) {
    background-color: transparent;
  }
}
